<nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target xsi:type="File" name="Trace" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}/Trace.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message}" />
    <target xsi:type="File" name="Info" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}/Info.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message}" />
    <target xsi:type="File" name="Exception" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}/Exception.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message} &#xD;&#xA; ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="TurboYang.Tesla.Monitor.*" levels="Trace" writeTo="Trace" />
    <logger name="TurboYang.Tesla.Monitor.*" levels="Debug,Info,Warn" writeTo="Info" />
    <logger name="TurboYang.Tesla.Monitor.*" levels="Error,Fatal" writeTo="Exception" />
  </rules>
</nlog>